<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark">
    <a class="navbar-brand" href="">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="32px" height="32px"/>
        {{projectName}}
        <img src="https://img.shields.io/npm/v/{{projectName}}.svg?color=343a40&label=%20&logoColor=transparent&style=for-the-badge"
             alt="npm">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto"></ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="npm-button" href="{{npmUrl}}" title="Visit {{projectName}} on NPM">
                <svg width="24px" viewBox="0 0 27.23 27.23">
                    <rect fill="red" width="27.23" height="27.23" rx="2"></rect>
                    <polygon fill="#fff"
                             points="5.8 21.75 13.66 21.75 13.67 9.98 17.59 9.98 17.58 21.76 21.51 21.76 21.52 6.06 5.82 6.04 5.8 21.75">
                    </polygon>
                </svg>
            </a>
            <a class="github-button" href="{{repository}}" title="Visit {{projectName}} on Gitlab">
                <img src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/13083/logo-extra-whitespace.png?width=40"
                     width="40px" height="40px" alt="Gitlab">
            </a>
        </form>
    </div>
</nav>
